[submodule "lisp/wakatime-mode"]
	path = lisp/wakatime-mode
	url = https://github.com/Borwe/wakatime-mode.git
[submodule "lisp/codeium.el"]
	path = lisp/codeium.el
	url = https://github.com/Exafunction/codeium.el.git
