[submodule "lisp/wakatime-mode"]
	path = lisp/wakatime-mode
	url = https://github.com/Borwe/wakatime-mode.git
[submodule "lisp/emacs-winterm"]
	path = lisp/emacs-winterm
	url = https://github.com/Borwe/emacs-winterm.git
